<%= form_with(model: portfolio, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <p><%= image_tag(portfolio.thumb_image_url) if portfolio.thumb_image? %></p>
    <%= form.label :thumb_image %>
    <p><%= form.file_field :thumb_image %></p>
    <p><%= form.hidden_field :thumb_image_cache %></p>
  </div>
  
  <div class="field">
    <p><%= image_tag(portfolio.main_image_url) if portfolio.main_image? %></p>
    <%= form.label :main_image %>
    <p><%= form.file_field :main_image %></p>
    <p><%= form.hidden_field :main_image_cache %></p>
  </div>

  <div class="field">
    <%= form.label :source_code %>
    <%= form.text_area :source_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>