<% if current_user %>
	<%= link_to "New Item", new_portfolio_path, class: 'btn btn-warning' %>
<% end %>

<main role="main">
  <section class="jumbotron text-center bg-white">
    <div class="container">
      <h1 class="jumbotron-heading font-weight-bold">Portfolio</h1>
      <p class="lead text-muted pb-3">I've listed my projects I've built as a student and alumni of Flatiron. These application include a wide range of technologies including, but not limited to, Ruby, Ruby On Rails, JavaScript, React, and etc.</p>
			<%= link_to 'https://github.com/BrittanyTinnin', target: '_blank' do %>
				<span class="fab fa-github" style="font-size: 3em; color: black"></span>
			<% end %>
			<%= link_to 'https://twitter.com/tinfullstackdev', target: '_blank' do %>
				<span class="fab fa-twitter" style="font-size: 3em; color: black"></span>
			<% end %>
			<%= link_to 'https://www.linkedin.com/in/brittanytinnin/', target: '_blank' do %>
				<span class="fab fa-linkedin" style="font-size: 3em; color: black"></span>
			<% end %>
			<%= link_to 'https://medium.com/@brittanytinnin', target: '_blank' do %>
				<span class="fab fa-medium" style="font-size: 3em; color: black"></span>
			<% end %>
    </div><!-- div.container -->
  </section>

	<div class="album py-5 bg-dark">
		<div class="container">
			<div class="row">
				<% if @portfolios.length > 0 %>
					<% @portfolios.each do |portfolio| %>
						<div class="col-md-4">
							<div class="card mb-4 shadow-sm">
								<%= image_tag(portfolio.thumb_image.url, class: 'img-thumbnail') unless portfolio.thumb_image.url.nil? %>
									<div class="card-body">
										<p class="card-text text-center"><%= portfolio.title %></p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="btn-group">
													<%= link_to "View", portfolio_path(portfolio.id), class: "btn btn-sm btn-outline-secondary"%>
												</div><!-- div.btn-group -->
												<small class="text-muted"><%= portfolio.updated_at.strftime("%B %Y") %></small>
											</div>
									</div><!-- div.card-body -->
							</div><!-- div.card mb-4 -->
						</div><!-- div.col-md-4 -->
					<% end %>
				<% end %>
			</div><!-- div.row -->
		</div><!-- div.container -->
	</div><!-- div.album py-5 -->

</main>


