<h1><%= @portfolio.title %></h1>
<p><%= @portfolio.subtitle %></p>
<p><%= @portfolio.body %></p>
<p><%= image_tag(@portfolio.thumb_image.url) unless @portfolio.thumb_image.url.nil? %></p>
<p><%= link_to "Source Code" %></p>


<%= link_to 'Edit', edit_portfolio_path %>
<%= link_to 'Delete', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', portfolios_path %>


