<div class="text-center">
  <h1><%= @portfolio.title %></h1>
  <p><%= @portfolio.subtitle %></p>
  <p><%= @portfolio.body %></p>
  <p><%= link_to @portfolio.source_code do %>
    <%= octicon "mark-github", :height => 32 %>
  <% end %></p>


  <div class="card mx-auto" style="width: 40rem;">
    <%= video_tag(
      @portfolio.main_image.url,
      autoplay: true,
      muted: true,
      loop: true,
      class: 'card-img-top') unless @portfolio.main_image.url.nil? %>
  </div>
  <br>

  <div class="btn-group" role="group" aria-label="Basic example">
    <% if current_user %>
    <%= link_to 'Edit', edit_portfolio_path, class: 'btn btn-warning' %>
    <%= link_to 'Delete', @portfolio, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to 'Back', portfolios_path, class: 'btn btn-secondary' %>
  </div>
</div>

