<%= video_tag(
  "chicago.mp4",
  autoplay: true,
  muted: true,
  loop: true,
  id: 'background'
) %>
<br>
<div class="card w-75 container-fluid">
  <div class="row no-gutters">
    <div class="col-md-4 pt-5 pb-5">
      <%= image_tag "brittany.jpg", width: 400, height: 450 %>
    </div>
    <div class="col-md-8 text-center">
      <div class="card-body">
        <h3 class="card-title font-weight-bold">About Me</h3>
        <p class="card-text pb-3">Highly motivated, determined, driven, work-hard Full Stack Web Developer & Software Engineer. Passionate about Web Development & Software Engineering and learning new things as well as solving real world problems. I fell in love with Programming because I realised that I can make an impact on people by just using my imagination and passion when building applications. I give 100% in all my work to provide great and exceptionally satisfying results.</p>
        <% @skills.each do |skill| %>
          <span class="font-weight-bold"><%= skill.title %></span>
          <div class="progress" style="width: 100%">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill.percent_utilized %>%"></div>
          </div>
          <% if current_user %>
            <div class="card-body">
              <%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          <% end %>
        <% end %> 
        <div class="pt-5">
          <%= link_to 'https://github.com/BrittanyTinnin', target: '_blank' do %>
            <span class="fab fa-github" style="font-size: 2em; color: black"></span>
          <% end %>
          <%= link_to 'https://twitter.com/tinfullstackdev', target: '_blank' do %>
            <span class="fab fa-twitter" style="font-size: 2em; color: black"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/brittanytinnin/', target: '_blank' do %>
            <span class="fab fa-linkedin" style="font-size: 2em; color: black"></span>
          <% end %>
          <%= link_to 'https://medium.com/@brittanytinnin', target: '_blank' do %>
            <span class="fab fa-medium" style="font-size: 2em; color: black"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div> 
</div>
<% if current_user %>
  <%= link_to 'New Skill', new_skill_path, class: 'btn btn-success' %>
<% end %>
