<!DOCTYPE html>
<html>
  <head>
    <title>TinninPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body>
    <%= render "shared/nav" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
<footer class="text-muted">
<hr>
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2019 | Brittany Tinnin All Rights Reserved</p>
  </div>
</footer>
</html>

